
body {
    width: 100%;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(-45deg, #ff0037, #ff6d0c, #ff9e30, #ffbb3e, hwb(56 24% 0%));
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    position: absolute;
    top: 7%;
    left: 28%;
        width: 200px; /* Define a largura desejada, por exemplo, 300 pixels */
        height: auto; /* Mantém a proporção original da imagem */

    
}
h1{
    position: absolute;
    top: 20%;
    left: 41%;
    color: #ffffff;
    background-color: #420421;
    border-radius: 10px;
    max-width: 400px;
}

option{
    color: #420421;
    background-color: #ffd2e1;
}
.container {
    background-color: rgb(71, 0, 33);
    padding: 15px; /* Ajuste o preenchimento interno conforme necessário */
    border: 2px solid rgb(71, 0, 33);
    border-radius: 10px;
    max-width: 400px; /* Ajuste a largura máxima conforme necessário */
    max-height: 600px; /**/
}
.container form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container label{
    margin-bottom: 100px;
    font-family: Gill Sans, 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #ffffff;
}
